<launch>
	<rosparam ns="object_color" command="load" file="$(find object_detection)/params/object_color.yaml"></rosparam>
	<node pkg="object_detection" name="object_color" type="object_detection.py" args="object_color" output="screen">
		<param name="segmentation_topic" type='str' value='/semantic_segmentation/compressed'/>
	</node>
</launch>