<launch>
	<rosparam ns="object_color" command="load" file="$(find object_detection)/params/object_color.yaml"></rosparam>
	<node pkg="object_detection" name="object_color" type="color_range_main.py" args="object_color" output="screen">
		<param name="camera_topic" type='str' value='/vision/front/image_rect_color/compressed'/>
	</node>
</launch>